MetadataManagementSystem/OntoMatchMerge/ItemsXSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:salus="http://www.salusproject.eu/ontology/item" targetNamespace="http://www.salusproject.eu/ontology/item">
  <xs:element name="Items">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Item" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="ID"/>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:int" name="ValueCost"/>
              <xs:element type="xs:float" name="Percentage"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
